@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgMain text-textMain font-sans antialiased;
  }
}

/* Landing Page Specifics */
body:has(.landing-page) {
  overflow: auto;
  /* Allow scroll on landing page */
}

.grid-bg {
  background-image:
    linear-gradient(to right, #1F1F22 1px, transparent 1px),
    linear-gradient(to bottom, #1F1F22 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20;
}

@layer utilities {
  .animation-delay-2s {
    animation-delay: 2s;
  }

  .animation-delay-4s {
    animation-delay: 4s;
  }
}
